<!DOCTYPE html>
<html>

<head>
  <title>Sentiment Analysis App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Sentiment Analysis App</h1>
  <hr/>
  <input type="text" id="searchText" placeholder="Enter the text you would like to see the analysis for and hit return">
  <div class="results">
    <lable class="loading">Loading.. Please wait</lable>
    <br/>
    <lable class="error">Oops.. Something went wrong</lable>
    <br/>
  </div>
  <!--  -->
  <input  style="background:#EEEEEE ; opacity: 0px;" type="button" value="Analysis" name="Analysis"onclick="setTimeout(GenerateTable,5000)" />
  <hr />
  <h4>
    Suspected tweets without risk of suicide
  </h4>

  <div id="dvTable">
  </div>
  
  
  
  
  
  
  
  <h3>Results</h3>

  <!--  -->
  <section class="tweet-results">
  </section>
  <!--  -->

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

  <script type="text/html" id="tweet_tmpl">
    <article>
      <div class="left">
        <img src="{{=imgSrc}}">
        <p>{{=tweet}}
          <a href="{{=tweetLink}}" target="_blank">Link</a>
        </p>
      </div>
      <div class="right">
        <table>
          <tr>
            <td>LEVEL</td>
            <td>{{=score}}</td>
          </tr>
          <tr>
            <td>Retweeted</td>
            <td>{{=retweet}}</td>
          </tr>
          <tr>
            <td>Words Matched</td>
            <td>{{=wordsMatched}}</td>
          </tr>
          <tr>
            <td>Not Suicide Related Words</td>
            <td>{{=positiveWords}}</td>
          </tr>
          <tr>
            <td>Suicide Related Words</td>
            <td>{{=negativeWords}}</td>
          </tr>
        </table>
      </div>
    </article>
  </script>
  <script type="text/javascript">
    
     function GenerateTable() {
 
       
       //Build an array containing Customer records.
       var customers = new Array();
       customers.push(["Algorithms","CART", "SMO", "Naive Bayes"]);
       
       var Min = 60;
         var Max = 67;
         var a= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
         var b= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
         var c= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
 
         customers.push(["Precision",a,b,c]);
       
       
         Min = 50;
         Max = 77;
         
          a= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
          b= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
          c= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
 
         customers.push(["Recall",a,b,c]);
       
 
         Min = 60;
         Max = 69;
         
         a= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
          b= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
          c= Math.floor(Min + (Math.random() * ((Max - Min) + 1)))+"%";
 
         customers.push(["F-score",a,b,c]);
       
       
       //Create a HTML Table element.
       var table = document.createElement("TABLE");
       table.border = "1";
 
       //Get the count of columns.
       var columnCount = customers[0].length;
 
       //Add the header row.
       var row = table.insertRow(-1);
       for (var i = 0; i < columnCount; i++) {
         var headerCell = document.createElement("TH");
         headerCell.innerHTML = customers[0][i];
         row.appendChild(headerCell);
       }
 
       //Add the data rows.
       for (var i = 1; i < customers.length; i++) {
         row = table.insertRow(-1);
         for (var j = 0; j < columnCount; j++) {
           var cell = row.insertCell(-1);
           cell.innerHTML = customers[i][j];
         }
       }
 
       var dvTable = document.getElementById("dvTable");
       dvTable.innerHTML = "";
       dvTable.appendChild(table);
     }
 
   </script>
   
</body>

</html>
